---
cluster:
  controllerManager:
    extraArgs:
      bind-address: "0.0.0.0"
      node-cidr-mask-size-ipv4: "24"
      node-cidr-mask-size-ipv6: "64"
  scheduler:
    extraArgs:
      bind-address: "0.0.0.0"
  %{~ if length(ETCD_CIDRS) > 0 ~}
  etcd:
    advertisedSubnets:
    %{~ for cidr in ETCD_CIDRS ~}
      - ${cidr}
    %{~ endfor ~}
    listenSubnets:
    %{~ for cidr in ETCD_CIDRS ~}
      - ${cidr}
    %{~ endfor ~}
  %{~ endif ~}