---
cluster:
  discovery:
    enabled: true
  network:
    cni:
      name: none
    dnsDomain: ${DNS_DOMAIN}
    podSubnets:
${POD_CIDRS}
    serviceSubnets:
${SERVICE_CIDRS}
  proxy:
    disabled: true