---
machine:
  certSANs:
${CERT_SANS}
  network:
    interfaces:
      - interface: tailscale0
        routes:
          - network: 100.64.0.0/10
            metric: 100
          - network: fd7a:115c:a1e0::/48
            metric: 100
    nameservers:
      - 1.1.1.1
      - 9.9.9.9
      - 2606:4700:4700::1111
      - 2620:fe::fe
  sysctls:
    net.ipv4.ip_forward: "1"
    net.ipv6.conf.all.forwarding: "1"
  kubelet:
    nodeIP:
      validSubnets:
${KUBELET_NODEIP_CIDRS}
    extraArgs:
      rotate-server-certificates: true